# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez


# Auto generated stuff for the routing information
apps/naming/etc/*
!apps/naming/etc/test.conf

apps/utils/etc/*.conf
!apps/utils/etc/test.conf

# Auto generated template files (docker configs)
libs/
/lib/*
